@use "../utils/mixin" as *;
@use "../utils/breakpoints" as *;

.bg__destination {
  background: url("../../assets/destination/background-destination-mobile.jpg");
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  @include md {
    background: url("../../assets/destination/background-destination-tablet.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    background-size: cover;
  }

  @include lg {
    background: url("../../assets/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }
}

/* ------------------------------------------------------ */

.destination__flex {
  @include flexDisplay($felxDirection: column, $gap: 4);
  padding-bottom: 4rem;
  justify-content: center;

  .flex-row {
    @include flexDisplay(column, 2);
  }
  @include lg {
    @include flexDisplay(column, $gap: 6);

    .flex-row {
      @include flexDisplay(row, 6);
      justify-content: center;
    }
  }
  .heading {
    text-align: center;
    @include lg {
      text-align: left;
    }
  }
}

// flex child1
.flex__planet {
  @include flexDisplay($felxDirection: column, $gap: 4);

  justify-content: center;
  align-items: center;

  .planets {
    padding-block: 1rem;

    img {
      height: 290px;
      animation-name: rotate-planet;
      animation-duration: 30s;
      animation-iteration-count: infinite;
      @include lg {
        height: 350px;
        margin-left: 4rem;
      }
    }
  }
}

// flex child2

.flex__info {
  @include flexDisplay(column, 1rem);
  justify-content: center;
  align-items: center;
  text-align: center;
  @include lg {
    align-items: flex-start;
    text-align: left;
  }
  .info {
    animation: fadein 2s;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    .planet__name {
      font-size: 4em;
      padding-block: 1rem;
    }
    .desc {
      font-size: 1.2em;
    }
  }
}
.fade {
  animation: fadein 2s;
}

.info__bottom {
  padding-top: 3rem;
}

.info__footer {
  @include flexDisplay(column, 2);
  padding-block: 0.8rem;
  @include lg {
    @include flexDisplay(row, 4);
  }
  .info__text {
    font-size: 0.8em;
    padding-block: 0.8rem;
  }
  .info__text2 {
    font-size: 1.5em;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rotate-planet {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(365deg);
  }
}
